.LCSelect {
    display: none;
}

.LCSelect[disabled] {
    cursor:not-allowed;
}

select {
    padding: 14px 28px;
    margin: 0 14px 10px 14px;
    color: burlywood ;
    font-size: 20px;
    background-color: rgba(0, 0, 0,  0.6);
    border: 2px solid burlywood ;
    cursor: pointer; 
    width: 800px;
}


select:focus {
    border: 2px solid black;
}

option {
    color: black ;
    font-size: 20px;
    background-color:  burlywood;
    cursor: pointer;
}



option:checked {
    background-color: lightgreen;
}

/* .LCSelect.hiden {
    display: none;
} */

.LCSelect.show {
    display: flex;

    animation: show 0.4s;

    animation-iteration-count: 1;
}

@keyframes show{
    0% {transform: translateY(-200px); opacity: 0;}
    100% { transform: translateY(0); transition: all 400ms ease; opacity: 1;}
}

@media screen and (max-width: 1200px) {

    select {
        width: 500px;
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    select {
        width: 250px;
        height: 70px;
        font-size: 16px;
    }

    option {
        font-size: 16px;
    }

}


