.LCInput {

    width: 60%;
    height: 10%;
    font-size: 36px;
    background-color: rgba(111,0,0);
    color: rgba(186,136,1);
    text-align: center;
    border: 2px solid black;
    box-shadow: 0 0 40px rgba(0, 0, 0, 1) , 
    inset 0 0 10px rgba(0, 0, 0, 1) ;

    

}


.LCInput[disabled] {
    cursor:not-allowed;
}

.LCInput:focus {
    outline: none;
    border: 4px solid black;;
}

@media screen and (max-width: 1200px) {
    .LCInput {
        font-size: 30px;
    }

}

@media screen and (max-width: 600px) {
    .LCInput {
        font-size: 20px;
        height: 30px;
        width: 250px;
    }

}