.LCGameModeBorder {
    padding: 10px;
    margin-top: 28px;
    display: flex;
    align-items:center;
    justify-content: center;
    border: 4px dotted burlywood;
    border-radius: 12px;
    height: 700px;
    flex-direction: column;
}



.LCEmoji {
    font-size: 90px;
    background-color: hsla(0, 46%, 35%, 0.709)
}

.LCSecondLine{
    display: flex;
    flex-direction: column ;
    justify-content: center;
}



@media screen and (max-width: 600px) {
    .LCEmoji {
        font-size: 44px;
    }

    .LCGameModeBorder {
        padding-top: 40px;
        justify-content: start;
        height: 300px;
    }
}