.LCGameModeBorder {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    border: 4px dotted burlywood;
    border-radius: 12px;
    height: 700px;
    flex-direction: column;
}

.LCFirstLine{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    min-height: 500px;
    flex-wrap: wrap;
}

.LCSecondLine{
    display: flex;
    flex-direction: column ;
    min-width: 400px;
    justify-content: center;
}


.LCSkill {
    margin: 20px;
    border: 4px solid burlywood;   
    /* background-image: url('../../../images/ImageForGameMode2/Acupuncture_Outis_Icon.webp'); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}


