.LCHeaderText {
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-direction: column;
    font-size: 48px;
    color: burlywood;
    margin-top: 12px;
}

.LCHeaderButton {

    display: flex;
    justify-content:  center;
    align-items: center;
    margin-top: 12px;
}


@media screen and (max-width: 1200px) {

    .LCHeaderText {
        font-size: 30px;
        margin-top: 4px;
    }
    .LCHeaderButton {
        margin-top: 4px;
    }
}
