* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    background-image:    url('./images/backgroundDarked.jpg') ;
    background-position:left;
    background-color: rgba(0, 0, 0, 0.85);
}


.App {
    width: 1000px;
} 


a {
    text-decoration: none;
    color: burlywood;
}

a:visited {

    text-decoration: none;
}

@media screen and (max-width: 1200px) {

    .App {
        width: 600px;
    }
}

@media screen and (max-width: 600px) {

    .App {
        width: 300px;
    }
}