.LCButton {
    padding: 14px 28px;
    margin: 10px 14px 10px 14px;
    color: burlywood ;
    font-size: 20px;
    background-color: rgba(0, 0, 0,  0.6);
    border: 2px solid burlywood ;
    cursor: pointer; 
    display: flex;
}

.LCButton.hide{
    display: none;
}

.LCButton:hover
{
    scale: 110%;
}
