.LCButton {
    padding: 14px 28px;
    margin: 10px 14px 10px 14px;
    color: burlywood ;
    font-size: 20px;
    background-color: rgba(0, 0, 0,  0.6);
    border: 2px solid burlywood ;
    cursor: pointer; 
    display: flex;
    justify-content: center;
}

.LCButton.hide{
    display: none;
}

.LCButton:hover
{
    scale: 110%;
}

@media screen and (max-width: 1200px) {

    .LCButton{
        font-size: 16px;
    }

}

@media screen and (max-width: 600px) {

    .LCButton{
        margin: 5px 7px 5px 7px;
        padding: 22px 14px;
    }

}